[submodule "bitbucket-lts-ib"]
	path = bitbucket-lts-ib
	url = https://repo1.dso.mil/dsop/atlassian/bitbucket-data-center/bitbucket-lts.git
[submodule "bitbucket-ib"]
	path = bitbucket-ib
	url = https://repo1.dso.mil/dsop/atlassian/bitbucket-data-center/bitbucket.git
